<h1>Listing commments</h1>

<table>
  <thead>
    <tr>
      <th>Post</th>
      <th>Body</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @commments.each do |commment| %>
      <tr>
        <td><%= commment.post_id %></td>
        <td><%= commment.body %></td>
        <td><%= link_to 'Show', commment %></td>
        <td><%= link_to 'Edit', edit_commment_path(commment) %></td>
        <td><%= link_to 'Destroy', commment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commment', new_commment_path %>
