<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @commment.post_id %>
</p>

<p>
  <strong>Body:</strong>
  <%= @commment.body %>
</p>

<%= link_to 'Edit', edit_commment_path(@commment) %> |
<%= link_to 'Back', commments_path %>
